.editable-container {
  position: relative;
}

.editable-div {
  margin: 0px 0px 16px 0px;
  padding: 8px !important;
  outline: 1px solid transparent;
  font-size: 130%;
  font-weight: bold;
}

.editable-div:focus {
  outline: 1px solid var(--color-selected);
  border-radius: 5px;
}

.placeholder {
  position: absolute;
  top: 4px;
  left: 4px;
  color: #888888;
  pointer-events: none;
}

.placeholder.hidden {
  display: none;
}
