@media (prefers-color-scheme: dark) {
  :root {
    --color-purple: #606eb6;
    --color-red: #863533;

    --color-text-primary: #dddddd;
    --color-text-dim-1: #cccccc;  /* task title (sidebar) */
    --color-text-dim-2: #757575;  /* tab title hover, placeholder text (for text boxes), etc. */
    --color-text-dim-3: #555555;  /* unselect tab, task list headers, completed/deleted task titles, etc. */
    --color-selected-text: #31364c;
    
    --color-background: #1F1F1F;
    --color-sidebar: #1b1b1b;
    --color-background-task-title-is-editing: #252525;
    --color-border: #2f2f2f;
    --color-selected-task: #2f2f2f;
    --color-gray-icon: #555555;

    --width-main-canvas: 480px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-purple: #9075f4;
    --color-red: #ad504e;

    --color-text-primary: #222222;
    --color-text-dim-1: #333333;
    --color-text-dim-2: #555555;
    --color-text-dim-3: #999999;
    --color-selected-text: #dee0ed;

    --color-background: #FFFFFF;
    --color-sidebar: #F5F5F5;
    --color-background-task-title-is-editing: #FAFAFA;
    --color-border: #EEEEEE;
    --color-selected-task: #EEEEEE;
    --color-gray-icon: #999999; 
    
    --width-main-canvas: 480px;
  }
}

* {
  font-size: .86rem;
  font-family: Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text-primary);

  /* disable selection */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

html {
  font-size: 100%;
  background-color: var(--color-background);
}

body {
  margin: 0px;
}

img {
  -webkit-user-drag: none; /* For Chrome and Safari */
}

::selection {
  background-color: var(--color-selected-text)
}

/* Hides the scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Add margins and space for the header */
.app-container {
  display: flex;
  height: calc(100vh - 20px);
}