@media (prefers-color-scheme: dark) {
  :root {
    --color-purple: #606eb6;
    --color-red: #AE3532;
    --color-sidebar: #1a1a1a;
    --color-background: #1F1F1F;
    --color-input: #2b2b2b;
    --color-button-hover: #2f2f2f;
    --color-action-separator: #2f2f2f;
    --color-selected: #2f2f2f;
    --color-empty-list-text: #555555;
    --color-menu-info: #555555;
    --color-task-list-header: #555555;
    --color-task-action-text: #555555;
    --color-completed-task-title: #555555;
    --color-secondary-text: #757575;
    --color-primary-text: #dddddd;
    --icon-purple-filter: filter: brightness(0) saturate(100%) invert(37%) sepia(78%) saturate(329%) hue-rotate(192deg) brightness(101%) contrast(91%);
    --width-main-canvas: 480px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-purple: #8a7dbb;
    --color-red: #AE3532;
    --color-sidebar: #F9F9F9;
    --color-background: #FFFFFF;
    --color-input: #F9F9F9;
    --color-button-hover: #EEEEEE;
    --color-action-separator: #EEEEEE;
    --color-selected: #F0F0F0;
    --color-empty-list-text: #555555;
    --color-menu-info: #555555;
    --color-task-list-header: #555555;
    --color-task-action-text: #555555;
    --color-completed-task-title: #888888;
    --color-secondary-text: #888888;
    --color-primary-text: #222222;
    --icon-purple-filter: filter: brightness(0) saturate(100%) invert(56%) sepia(8%) saturate(1758%) hue-rotate(212deg) brightness(90%) contrast(92%);
    --width-main-canvas: 480px;
  }
}

* {
  font-size: .86rem;
  font-family: Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--color-primary-text);

  /* disable selection */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

html {
  font-size: 100%;
  background-color: var(--color-background);
}

body {
  margin: 0px;
}

img {
  -webkit-user-drag: none; /* For Chrome and Safari */
}

/* Hides the scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Add margins and space for the header */
.app-container {
  display: flex;
  height: calc(100vh - 20px);
}